<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<body>

<h2> INFO O ZALOGOWANYM UZYTKOWNIKU </h2>
Status:
#{sesjaBeans.status} <br></br>
ID:
#{sesjaBeans.zalogowanyGosc.id} <br></br>
Imie:
#{sesjaBeans.zalogowanyGosc.imie} <br></br>
Nazwisko:
#{sesjaBeans.zalogowanyGosc.nazwisko} <br></br>
Wiek:
#{sesjaBeans.zalogowanyGosc.wiek} <br></br>
Email:
#{sesjaBeans.zalogowanyGosc.email} <br></br>
Rachunek:
#{sesjaBeans.zalogowanyGosc.rachunek} <br></br>
Rozliczony:
#{sesjaBeans.zalogowanyGosc.rozliczony}  <br></br>
Kod:
#{sesjaBeans.zalogowanyGosc.kod}  <br></br>
CzyAktywowane:
#{sesjaBeans.zalogowanyGosc.aktywowane}  <br></br>


<h2> Test Logowania</h2>

<h:form>
    <h:inputText value="#{logowanieBeans.login}"/>
    <h:inputText value="#{logowanieBeans.haslo}"/>
    <h:inputText value="#{logowanieBeans.kodAktywancyjny}"/>
    <h:commandLink action="#{sesjaBeans.zaloguj(logowanieBeans)}" value="Zaloguj"/>
    <h:commandLink action="#{sesjaBeans.aktywujKonto(logowanieBeans)}" value="Aktywuj">

    </h:commandLink>
</h:form>

<h:form>
    <h:commandLink action="#{sesjaBeans.wyloguj()}" value="Wyloguj"/>
</h:form>


<h2> POLA PANELU ADMINA </h2>
<h3> EDYCJA POKOJU </h3>
<h:form>
    ID: #{pokojBeans.id} <br></br>
    nazwa <h:inputText value="#{pokojBeans.nazwa}"/> <br></br>
    iloscOsoba <h:inputText value="#{pokojBeans.iloscosob}"/> <br></br>
    adresobrazka: <h:inputText value="#{pokojBeans.adresobrazka}"/> <br></br>
    cena <h:inputText value="#{pokojBeans.cena}"/> <br></br>
    opis <h:inputText value="#{pokojBeans.opis}"/> <br></br>
    opis_dlugi <h:inputText value="#{pokojBeans.opis_dlugi}"/> <br></br>

    <h:commandLink action="#{adminBeans.dodajPokoj(pokojBeans)}" value="Dodaj Pokoj"/> <br></br>
    <br></br>
    <br></br>
    ID_POKOJU_EDYTOWANEGO <h:inputText value="#{pokojBeans.id}"/> <br></br>
    <h:commandLink action="#{adminBeans.przygotujEdytujPokoj(pokojBeans)}" value="Przygotuj Modyfikacje Pokoju"/>
    <br></br>
    <h:commandLink action="#{adminBeans.zapiszEdytujPokoj(pokojBeans)}" value="Zapisz Modyfikacje Pokoju"/> <br></br>
</h:form>

<h3> EDYCJA GOSCIA </h3>
<h:form>
    ID:#{rezerwacjaAdminBeans.idGoscia} <br></br>
    IMIE:<h:inputText value="#{rezerwacjaAdminBeans.imie}"/><br></br>
    NAZWISKO:<h:inputText value="#{rezerwacjaAdminBeans.nazwisko}"/> <br></br>
    WIEK:<h:inputText value="#{rezerwacjaAdminBeans.wiek}"/> <br></br>
    PESEL:<h:inputText value="#{rezerwacjaAdminBeans.pesel}"/> <br></br>
    USERNAME:<h:inputText value="#{rezerwacjaAdminBeans.username}"/> <br></br>
    PASSWORD:<h:inputText value="#{rezerwacjaAdminBeans.password}" /> <br></br>
    RACHUNEK:<h:inputText value="#{rezerwacjaAdminBeans.rachunek}" /> <br></br>
    E-MAIL:<h:inputText value="#{rezerwacjaAdminBeans.email}" /> <br></br>
    ROZLICZONY:<h:inputText value="#{rezerwacjaAdminBeans.rozliczony}"/> <br></br>
    ADMIN:<h:inputText value="#{rezerwacjaAdminBeans.admin}" /> <br></br>
    KOD:<h:inputText value="#{rezerwacjaAdminBeans.kod}" /> <br></br>
    AKTYWOWANE:<h:inputText value="#{rezerwacjaAdminBeans.aktywowane}"/> <br></br>

    <h:commandLink action="#{adminBeans.dodajGosc(rezerwacjaAdminBeans)}" value="Utworz Goscia"/> <br></br>
    <br></br>
    <br></br>
    ID_GOSCIA_EDYTOWANEGO <h:inputText value="#{rezerwacjaAdminBeans.idGoscia}"/> <br></br>
    <h:commandLink action="#{adminBeans.przygotujEdytujGosc(rezerwacjaAdminBeans)}"
                   value="Przygotuj Modyfikacje Goscia"/> <br></br>
    <h:commandLink action="#{adminBeans.zapiszEdytujGosc(rezerwacjaAdminBeans)}" value="Zapisz Modyfikacje Goscia"/>
    <br></br>
</h:form>


<h3> EDYCJA REZERWACJI </h3>

<h:form>
    <br></br>
    ID: #{rezerwacjaAdminBeans.idRezerwacji} <br></br>

    CZAS_POCZ:<h:inputText value="#{rezerwacjaAdminBeans.czaspoczatkowy}"  label="data poczatku"><f:convertDateTime pattern="yyyy-MM-dd"/></h:inputText><br></br>
    CZAS_KOCN:<h:inputText value="#{rezerwacjaAdminBeans.czaskoncowy}"  label="data konca"><f:convertDateTime pattern="yyyy-MM-dd"/></h:inputText><br></br>
    Osoba ID: <h:inputText value="#{rezerwacjaAdminBeans.idPokoju}" /> <br></br>
    Pokoj ID: <h:inputText value="#{rezerwacjaAdminBeans.idGoscia}"/> <br></br>
    <h:commandLink action="#{adminBeans.dodajRezerwacje(rezerwacjaAdminBeans)}" value="Dodaj Rezerwacje"/> <br></br>
    <br> </br>
    <br></br>
    ID_REZERWACJI_EDYTOWANEJ <h:inputText value="#{rezerwacjaAdminBeans.idRezerwacji}" /> <br></br>
    <h:commandLink action="#{adminBeans.przygotujEdytujRezerwacje(rezerwacjaAdminBeans)}"
                   value="Przygotuj Modyfikacje Rezerwacji"/> <br></br>
    <h:commandLink action="#{adminBeans.zapiszEdytujRezerwacje(rezerwacjaAdminBeans)}"
                   value="Zapisz Modyfikacje Rezerwacji"/> <br></br>
</h:form>


<h2> LISTY </h2>

<h3> POKOJE </h3>
<p:dataTable var="pok" value="#{pokojJPQLManager.listaPokoi}">
    <p:column headerText="ID">
        <h:outputText value="#{pok.id}"/>
    </p:column>
    <p:column headerText="NAZWA">
        <h:outputText value="#{pok.nazwa}"/>
    </p:column>
    <p:column headerText="ILOSC_OSOB">
        <h:outputText value="#{pok.iloscosob}"/>
    </p:column>
    <p:column headerText="IMG">
        <h:outputText value="#{pok.adresobrazka}"/>
    </p:column>
    <p:column headerText="CENA">
        <h:outputText value="#{pok.cena}"/>
    </p:column>
</p:dataTable>

<h3>GOSCIE</h3>
<ui:repeat value="#{goscJPQLManager.listaGosci}" var="gosc">
    <br></br>
    IMIE:#{gosc.imie}  <br></br>
    NAZWISKO:#{gosc.nazwisko}   <br></br>
    WIEK:#{gosc.wiek}  <br></br>
    PESEL:#{gosc.pesel}  <br></br>
    USERNAME:#{gosc.username}   <br></br>
    PASSWORD:#{gosc.password}  <br></br>
    RACHUNEK:#{gosc.rachunek}  <br></br>
    ROZLICZONY:#{gosc.rozliczony}  <br></br>
</ui:repeat>
<h3> Rezerwacje </h3>

<ui:repeat value="#{rezerwacjaJPQLManager.listaRezerwacji}" var="rez">
    <br></br>
    ID: #{rez.id}  <br></br>
    CZAS_POCZ: #{rez.czaspoczatkowy}  <br></br>
    CZAS_KOCN: #{rez.czaskoncowy}  <br></br>
    Osoba ID: #{rez.osoba.id}   <br></br>
    Pokoj ID: #{rez.pokoj.id}  <br></br>
    <br> </br>
</ui:repeat>


</body>

</html>

