<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Studenciak - hotel dla Ciebie</title>
</h:head>
<h:body>
<h2> Test Parametru </h2>
<h:outputLink value="blad.xhtml" >
    <h:outputText value="Przejdz"> </h:outputText>
</h:outputLink>

<h:outputLink value="index.xhtml" >
    <f:param name="x" value="#{12}" />
    <h:outputText value="Ustaw"> </h:outputText>
</h:outputLink>
Paramtest2: #{param.x} <br></br>
Paramtest: #{testBeans.tester} <br></br>

---------------
---------------------

<h2> INFO O ZALOGOWANYM UZYTKOWNIKU </h2>
Status:
#{sesjaBeans.status} <br></br>
ID:
#{sesjaBeans.zalogowanyGosc.id} <br></br>
Imie:
#{sesjaBeans.zalogowanyGosc.imie} <br></br>
Nazwisko:
#{sesjaBeans.zalogowanyGosc.nazwisko} <br></br>
Wiek:
#{sesjaBeans.zalogowanyGosc.wiek} <br></br>
Email:
#{sesjaBeans.zalogowanyGosc.email} <br></br>
Rachunek:
#{sesjaBeans.zalogowanyGosc.rachunek} <br></br>
Rozliczony:
#{sesjaBeans.zalogowanyGosc.rozliczony}  <br></br>
Kod:
#{sesjaBeans.zalogowanyGosc.kod}  <br></br>
CzyAktywowane:
#{sesjaBeans.zalogowanyGosc.aktywowane}  <br></br>

<h:form id="asdfghj">
    <p:growl id="growl" showDetail="true" life="2500"/>
    <p:dialog modal="true" resizable="true" header="REZERWUJ" widgetVar="dlg15" showEffect="fold"
              hideEffect="explode" closeOnEscape="true"
              style="width:300px; !important;" position="center">


    <h1>Ocen swoj pobyt w hotelu  :</h1>
    Lokalizacja:<br/>

    <h:selectOneMenu value="#{ratingView.lokalizacja}">
        <f:selectItem itemValue="1" itemLabel="bardyo zle" />
        <f:selectItem itemValue="2" itemLabel="zle" />
        <f:selectItem itemValue="3" itemLabel="dobrze" />
        <f:selectItem itemValue="4" itemLabel="bardzo dobrze" />
        <f:selectItem itemValue="5" itemLabel="wzorowo" />
    </h:selectOneMenu>
    <br/>
    <br/>
    Obsługa:<br/>
    <h:selectOneMenu value="#{ratingView.obsluga}">
        <f:selectItem itemValue="1" itemLabel="bardyo zle" />
        <f:selectItem itemValue="2" itemLabel="zle" />
        <f:selectItem itemValue="3" itemLabel="dobrze" />
        <f:selectItem itemValue="4" itemLabel="bardzo dobrze" />
        <f:selectItem itemValue="5" itemLabel="wzorowo" />
    </h:selectOneMenu>
    <br/>
    <br/>
    Dostepnosc:<br/>
    <h:selectOneMenu value="#{ratingView.dostepnosc}">
        <f:selectItem itemValue="1" itemLabel="bardyo zle" />
        <f:selectItem itemValue="2" itemLabel="zle" />
        <f:selectItem itemValue="3" itemLabel="dobrze" />
        <f:selectItem itemValue="4" itemLabel="bardzo dobrze" />
        <f:selectItem itemValue="5" itemLabel="wzorowo" />
    </h:selectOneMenu>
    <br/>
    <br/>
    Czystosc:<br/>:<br/>
    <h:selectOneMenu value="#{ratingView.czystosc}">
        <f:selectItem itemValue="1" itemLabel="bardyo zle" />
        <f:selectItem itemValue="2" itemLabel="zle" />
        <f:selectItem itemValue="3" itemLabel="dobrze" />
        <f:selectItem itemValue="4" itemLabel="bardzo dobrze" />
        <f:selectItem itemValue="5" itemLabel="wzorowo" />
    </h:selectOneMenu>
    <br/>
    <br/>

    <h:commandButton action="#{ratingView.suma}" value="ranking"/> <br></br>



suma rankingu : #{ratingView.suma2}

</p:dialog>
    <p:commandButton oncomplete="PF('dlg15').show()" update="growl"
                     class="wyloguj_button" value="Pokaz Ranking">
    </p:commandButton>
</h:form>







<br></br>
<h:form>
    idPokoju<h:inputText value="#{rezerwacjaBeans.idPokoju}" required="true"/>
    <br/>
    czaspoczatkowy<h:inputText value="#{rezerwacjaBeans.czaspoczatkowy}" required="true" label="data poczatku">
    <f:convertDateTime pattern="yyyy-MM-dd"/>
</h:inputText>
    <br/>
    czaskoncowy<h:inputText value="#{rezerwacjaBeans.czaskoncowy}" required="true" label="data konca">
    <f:convertDateTime pattern="yyyy-MM-dd"/>
</h:inputText>

    <h:commandLink action="#{sesjaBeans.zarezerwujZKontaZalogowanego(rezerwacjaBeans)}" value="UtworzRezerwacjaZkonta"/> <br></br>
</h:form>


<h:outputLink value="Paypal.xhtml" >
    <h:outputText value="Idz do PayPal"> </h:outputText>
</h:outputLink>

<br></br>





Rezerwacje Zalogowanego Gościa:<br></br>

<ui:repeat value="#{rezerwacjaJPQLManager.getListaRezerwacjiGoscia(sesjaBeans.zalogowanyGosc.id)}" var="rez">
    <br></br>
    ID: #{rez.id}  <br></br>
    CZAS_POCZ: #{rez.czaspoczatkowy}  <br></br>
    CZAS_KOCN: #{rez.czaskoncowy}  <br></br>
    Pokoj ID: #{rez.pokoj.id}  <br></br>
    Osoba ID: #{rez.osoba.email}  <br></br>
    <br> </br>

</ui:repeat>
<br></br>
<br></br>

<h2>Test Nowej Rezerwacji </h2>
<h:form>
    imie<h:inputText value="#{rezerwacjaBeans.imie}" required="true"/>
    <br/>nazwisko
    <h:inputText value="#{rezerwacjaBeans.nazwisko}" required="true"/>
    <br/>
    wiek<h:inputText value="#{rezerwacjaBeans.wiek}" required="true"/>
    <br/>
    pesel<h:inputText value="#{rezerwacjaBeans.pesel}" required="true"/>
    <br/>
    <br/>
    email<h:inputText value="#{rezerwacjaBeans.email}" required="true"/>
    <br/>

    idPokoju<h:inputText value="#{rezerwacjaBeans.idPokoju}" required="true"/>
    <br/>
    czaspoczatkowy<h:inputText value="#{rezerwacjaBeans.czaspoczatkowy}" required="true" label="data poczatku">
    <f:convertDateTime pattern="yyyy-MM-dd"/>
</h:inputText>
    <br/>
    czaskoncowy<h:inputText value="#{rezerwacjaBeans.czaskoncowy}" required="true" label="data konca">
    <f:convertDateTime pattern="yyyy-MM-dd"/>
</h:inputText>
    <br/>
    username
    <h:inputText value="#{rezerwacjaBeans.username}"/>
    <br/>
    password
    <h:inputText value="#{rezerwacjaBeans.password}"/>
    <br/>

    <h:commandLink action="#{sesjaBeans.zarezerwuj(rezerwacjaBeans)}" value="Utworz"/>
</h:form>






<h2>Test Modyfikacji  </h2>
<h:form>
    imie<h:inputText value="#{rezerwacjaBeans.imie}"/>
    <br/>nazwisko
    <h:inputText value="#{rezerwacjaBeans.nazwisko}"/>
    <br/>
    wiek<h:inputText value="#{rezerwacjaBeans.wiek}"/>
    <br/>
    pesel<h:inputText value="#{rezerwacjaBeans.pesel}"/>
    <br/>
    <br/>
    email<h:inputText value="#{rezerwacjaBeans.email}"/>
    <br/>
</h:form>

<h:form>
<h:commandLink action="#{sesjaBeans.modyfikujGosc(rezerwacjaBeans)}" value="Utworz"/>
</h:form>

<h2>Wypis pól </h2>

Czas koncowy: #{rezerwacjaBeans.czaskoncowy}   <br></br>
Czas poczatek: #{rezerwacjaBeans.czaspoczatkowy}   <br></br>
id_pokoju: #{rezerwacjaBeans.idPokoju}  <br></br>
wiek: #{rezerwacjaBeans.wiek}  <br></br>
nazwisko: #{rezerwacjaBeans.nazwisko}  <br></br>
imie: #{rezerwacjaBeans.imie}   <br></br>
password: #{rezerwacjaBeans.password}  <br></br>
pesel: #{rezerwacjaBeans.pesel}  <br></br>
username: #{rezerwacjaBeans.username}  <br></br>

<h2> Test Logowania</h2>

<h:form>
    <h:inputText value="#{logowanieBeans.login}"/>
    <h:inputText value="#{logowanieBeans.haslo}"/>
    <h:inputText value="#{logowanieBeans.kodAktywancyjny}"/>
    <h:commandLink action="#{sesjaBeans.zaloguj(logowanieBeans)}" value="Zaloguj"/>
    <h:commandLink action="#{sesjaBeans.aktywujKonto(logowanieBeans)}" value="Aktywuj">

    </h:commandLink>
</h:form>

<h:form>
<h:commandLink action="#{sesjaBeans.wyloguj()}" value="Wyloguj"/>
</h:form>


<h2> Pokoje </h2>

<h:form>
    nazwa <h:inputText value="#{pokojBeans.nazwa}" required="true"/> <br></br>
    iloscOsoba <h:inputText value="#{pokojBeans.iloscosob}" required="true"/> <br></br>
    adresobrazka: <h:inputText value="#{pokojBeans.adresobrazka}" required="true"/> <br></br>
    cena <h:inputText value="#{pokojBeans.cena}" required="true"/> <br></br>
    opis <h:inputText value="#{pokojBeans.opis}" required="true"/> <br></br>
    opis_dlugi <h:inputText value="#{pokojBeans.opis_dlugi}" required="true"/> <br></br>
    <h:commandLink action="#{pokojBeans.dodajPokoj()}" value="Dodaj Pokoj"/> <br></br>
</h:form>

<h2> LISTA POKOI </h2>

<p:dataTable var="pok" value="#{pokojJPQLManager.listaPokoi}">
    <p:column headerText="ID">
        <h:outputText value="#{pok.id}" />
    </p:column>

    <p:column headerText="NAZWA">
        <h:outputText value="#{pok.nazwa}" />
    </p:column>

    <p:column headerText="ILOSC_OSOB">
        <h:outputText value="#{pok.iloscosob}" />
    </p:column>

    <p:column headerText="IMG">
        <h:outputText value="#{pok.adresobrazka}" />
    </p:column>
    <p:column headerText="CENA">
        <h:outputText value="#{pok.cena}" />
    </p:column>

</p:dataTable>

<h2>Goscie </h2>

<ui:repeat value="#{goscJPQLManager.listaGosci}" var="gosc">
    <br></br>
    IMIE:#{gosc.imie}  <br></br>
    NAZWISKO:#{gosc.nazwisko}   <br></br>
    WIEK:#{gosc.wiek}  <br></br>
    PESEL:#{gosc.pesel}  <br></br>
    USERNAME:#{gosc.username}   <br></br>
    PASSWORD:#{gosc.password}  <br></br>
    RACHUNEK:#{gosc.rachunek}  <br></br>
    ROZLICZONY:#{gosc.rozliczony}  <br></br>
</ui:repeat>

<h2> Rezerwacje <br></br></h2>

<ui:repeat value="#{rezerwacjaJPQLManager.listaRezerwacji}" var="rez">
    <br></br>
    ID: #{rez.id}  <br></br>
    CZAS_POCZ: #{rez.czaspoczatkowy}  <br></br>
    CZAS_KOCN: #{rez.czaskoncowy}  <br></br>
    Osoba ID: #{rez.osoba.id}   <br></br>
    Pokoj ID: #{rez.pokoj.id}  <br></br>

    <br> </br>
</ui:repeat>

<h2> Lista rezerwacji <br></br></h2>

<ui:repeat value="#{rezerwacjaJPQLManager.getListaRezerwacjiZajetychWczasie(rezerwacjaBeans.czaspoczatkowy,rezerwacjaBeans.czaskoncowy,rezerwacjaBeans.idPokoju)}" var="rez">
    <br></br>
    ID: #{rez.id}  <br></br>
    CZAS_POCZ: #{rez.czaspoczatkowy}  <br></br>
    CZAS_KOCN: #{rez.czaskoncowy}  <br></br>
    Osoba ID: #{rez.osoba.id}   <br></br>
    Pokoj ID: #{rez.pokoj.id}  <br></br>

    <br> </br>
</ui:repeat>



</h:body>
</html>

