<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Studenciak - hotel dla Ciebie</title>
</h:head>
<h:body>


    <h:form>

        <p:growl id="growl" showDetail="true" life="2500"/>

        <p:dialog modal="true" resizable="true" header="REZERWUJ" widgetVar="dlg15" showEffect="fold"
                  hideEffect="explode" closeOnEscape="true"
                  style="width:300px; !important;" position="center">

            <h1>Ocen swoj pobyt w hotelu  :</h1>
            Lokalizacja:<br/>

            <h:selectOneMenu value="#{ratingView.lokalizacja}">
                <f:selectItem itemValue="1" itemLabel="bardyo zle" />
                <f:selectItem itemValue="2" itemLabel="zle" />
                <f:selectItem itemValue="3" itemLabel="dobrze" />
                <f:selectItem itemValue="4" itemLabel="bardzo dobrze" />
                <f:selectItem itemValue="5" itemLabel="wzorowo" />
            </h:selectOneMenu>
            <br/>
            <br/>
            Obsługa:<br/>
            <h:selectOneMenu value="#{ratingView.obsluga}">
                <f:selectItem itemValue="1" itemLabel="bardyo zle" />
                <f:selectItem itemValue="2" itemLabel="zle" />
                <f:selectItem itemValue="3" itemLabel="dobrze" />
                <f:selectItem itemValue="4" itemLabel="bardzo dobrze" />
                <f:selectItem itemValue="5" itemLabel="wzorowo" />
            </h:selectOneMenu>
            <br/>
            <br/>
            Dostepnosc:<br/>
            <h:selectOneMenu value="#{ratingView.dostepnosc}">
                <f:selectItem itemValue="1" itemLabel="bardyo zle" />
                <f:selectItem itemValue="2" itemLabel="zle" />
                <f:selectItem itemValue="3" itemLabel="dobrze" />
                <f:selectItem itemValue="4" itemLabel="bardzo dobrze" />
                <f:selectItem itemValue="5" itemLabel="wzorowo" />
            </h:selectOneMenu>
            <br/>
            <br/>
            Czystosc:<br/>:<br/>
            <h:selectOneMenu value="#{ratingView.czystosc}">
                <f:selectItem itemValue="1" itemLabel="bardyo zle" />
                <f:selectItem itemValue="2" itemLabel="zle" />
                <f:selectItem itemValue="3" itemLabel="dobrze" />
                <f:selectItem itemValue="4" itemLabel="bardzo dobrze" />
                <f:selectItem itemValue="5" itemLabel="wzorowo" />
            </h:selectOneMenu>
            <br/>
            <br/>


            <h:commandButton action="#{ratingView.suma}"  value="ranking" update="growl" /> <br></br>


        </p:dialog>
        <p:commandButton oncomplete="PF('dlg15').show()" update="growl"
                         class="wyloguj_button" value="Pokaz Ranking">
        </p:commandButton>
    </h:form>





    <h:form>
        nazwa <h:inputText value="#{pokojBeans.nazwa}" required="true"/> <br></br>
        iloscOsoba <h:inputText value="#{pokojBeans.iloscosob}" required="true"/> <br></br>
        adresobrazka: <h:inputText value="#{pokojBeans.adresobrazka}" required="true"/> <br></br>
        cena <h:inputText value="#{pokojBeans.cena}" required="true"/> <br></br>
        opis <h:inputText value="#{pokojBeans.opis}" required="true"/> <br></br>
        opis_dlugi <h:inputText value="#{pokojBeans.opis_dlugi}" required="true"/> <br></br>


        <h:commandButton action="#{ratingView.dodajelo(pokojBeans)}" value="dodaj123"/> <br></br>

    </h:form>




</h:body>


</html>
