<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xml:lang="en" xmlns:p="http://primefaces.org/ui"
      lang="en">
<h:head>
    <script src="https://apis.google.com/js/platform.js" async-defer="text/javascript"></script>
    <meta name="google-signin-client_id"
          content="406102952846-84gqseuf1beach8s0dk2ondo5lk5g3um.apps.googleusercontent.com"/>
    <title>$Title$</title>
</h:head>
<h:body>
    <script type="text/javascript">
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });

        }

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            var id_token = googleUser.getAuthResponse().id_token;
            document.getElementById("form_google:email").value = profile.getEmail();
            if(!loguj())
            {
                window.alert('Logowanie nie powiodło się!');
                signOut();
            }
        }
    </script>
    <h:form id="form_google">
        <h:inputHidden id="email" value="#{logowanieBeans.email}"/>
        <p:remoteCommand name="loguj" actionListener="#{sesjaBeans.zalogujGoogle(logowanieBeans)}"/>
        <div class="g-signin2" id="google_przycisk" data-onsuccess="onSignIn"></div>
    </h:form>

    <h:form>
        <p:commandButton class="wyloguj_button" onclick="signOut();" actionListener="#{sesjaBeans.wyloguj}"
                         value="Wyloguj" update="growl"
                         ajax="false">
            <f:param name="x" value="#{rezerwacjaBeans.idPokoju}"/>
        </p:commandButton>

    </h:form>
    <h2> INFO O ZALOGOWANYM UZYTKOWNIKU </h2>
    Status:
    #{sesjaBeans.status} <br></br>
    ID:
    #{sesjaBeans.zalogowanyGosc.id} <br></br>
    Imie:
    #{sesjaBeans.zalogowanyGosc.imie} <br></br>
    Nazwisko:
    #{sesjaBeans.zalogowanyGosc.nazwisko} <br></br>
    Wiek:
    #{sesjaBeans.zalogowanyGosc.wiek} <br></br>
    Email:
    #{sesjaBeans.zalogowanyGosc.email} <br></br>
    Rachunek:
    #{sesjaBeans.zalogowanyGosc.rachunek} <br></br>
    Rozliczony:
    #{sesjaBeans.zalogowanyGosc.rozliczony}  <br></br>
    Kod:
    #{sesjaBeans.zalogowanyGosc.kod}  <br></br>
    CzyAktywowane:
    #{sesjaBeans.zalogowanyGosc.aktywowane}  <br></br>
    email test:
    #{logowanieBeans.email}

</h:body>
</html>