<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xml:lang="en"
      lang="en">


<ui:composition template="szablon.xhtml">
    <ui:define name="tresc">
        <div class="container_24">
            <h:panelGroup rendered="#{sesjaBeans.admin}">
                <div class="grid_5 prefix_1">
                    <h3 style="margin-left:70px;"> EDYCJA POKOJU </h3>
                    <h:form id="form_admin">
                        <p:growl id="grow_ADMIN" showDetail="true" life="2500"/>
                        <p:panelGrid columns="2" id="display8" columnClasses="label,value">
                            <p:outputLabel for="nazwa_edytuj" value="Nazwa"/>
                            <p:inputText id="nazwa_edytuj" value="#{pokojBeans.nazwa}"/>
                            <p:outputLabel for="iloscosob_edytuj" value="Ilość osób"/>
                            <p:inputText id="iloscosob_edytuj" value="#{pokojBeans.iloscosob}"/>
                            <p:outputLabel for="adresobrazka_edytuj" value="Adres obrazka"/>
                            <p:inputText id="adresobrazka_edytuj" value="#{pokojBeans.adresobrazka}"/>
                            <p:outputLabel for="cena_edytuj" value="Cena za noc"/>
                            <p:inputText id="cena_edytuj" value="#{pokojBeans.cena}"/>
                            <p:outputLabel for="opis_edytuj" value="Opis"/>
                            <p:inputText id="opis_edytuj" value="#{pokojBeans.opis}"/>
                            <p:outputLabel for="opisdlugi_edytuj" value="Opis długi"/>
                            <p:inputText id="opisdlugi_edytuj" value="#{pokojBeans.opis_dlugi}"/>

                        </p:panelGrid>
                        <p:commandButton action="#{adminBeans.dodajPokoj(pokojBeans)}" class="buttony_admin"
                                         value="Dodaj nowy pokój"
                                         ajax="true" update="grow_ADMIN"/><br/>
                        <p:commandButton action="#{adminBeans.przygotujEdytujPokoj(pokojBeans)}" ajax="true"
                                         value="Przygotuj Modyfikacje Pokoju" class="buttony_admin"
                                         update="form_admin,grow_ADMIN"/>
                        <p:inputText id="idwybpok_edytuj" value="#{pokojBeans.id}" style="background-color: #9ad754;width: 50px;"
                                     placeholder="ID"/><br/>
                        <p:commandButton action="#{adminBeans.zapiszEdytujPokoj(pokojBeans)}" class="buttony_admin"
                                         value="Zapisz Modyfikacje Pokoju" ajax="true" update="grow_ADMIN"/>
                    </h:form>
                    <h:form>
                        <p:dialog modal="true" resizable="false" header="Wszystkie pokoje" widgetVar="dialog1"
                                  showEffect="fold"
                                  style="overflow:auto; max-height:500px; max-width: 500px;"
                                  hideEffect="explode" closeOnEscape="true" position="center"
                                  contentStyle="overflow:auto; max-height:200px;">
                            <ui:repeat value="#{pokojJPQLManager.listaPokoi}" var="pokoj">
                                <p:panelGrid columns="2" id="display3" columnClasses="label,value">

                                    <p:outputLabel for="nazwa_edytuj2" value="Nazwa"/>
                                    <h:outputText id="nazwa_edytuj2" value="#{pokoj.nazwa}"/>
                                    <p:outputLabel for="iloscosob_edytuj2" value="Ilość osób"/>
                                    <h:outputText id="iloscosob_edytuj2" value="#{pokoj.iloscosob}"/>
                                    <p:outputLabel for="adresobrazka_edytuj2" value="Adres obrazka"/>
                                    <h:outputText id="adresobrazka_edytuj2" value="#{pokoj.adresobrazka}"/>
                                    <p:outputLabel for="cena_edytuj2" value="Cena za noc"/>
                                    <h:outputText id="cena_edytuj2" value="#{pokoj.cena}"/>
                                    <p:outputLabel for="opis_edytuj2" value="Opis"/>
                                    <h:outputLabel id="opis_edytuj2" value="#{pokoj.opis}"/>
                                    <p:outputLabel for="opisdlugi_edytuj2" value="Opis długi"/>
                                    <h:outputLabel id="opisdlugi_edytuj2" value="#{pokoj.opis_dlugi}"/>

                                </p:panelGrid>
                                <br/><br/><br/>
                            </ui:repeat>
                        </p:dialog>
                    </h:form>
                    <h:form>
                        <p:commandButton class="buttony_admin" value="Wyświetl wszystkie pokoje"
                                         oncomplete="PF('dialog1').show()" ajax="true"/>
                    </h:form>
                </div>
                <div class="grid_5 prefix_1">
                    <h3 style="margin-left:70px;"> EDYCJA GOSCIA </h3>
                    <h:form id="form_admin2">
                        <p:growl id="grow_ADMIN2" showDetail="true" life="2500"/>
                        <p:panelGrid columns="2" id="display9" columnClasses="label,value">
                            <p:outputLabel for="imiegosc_edytuj" value="Imię"/>
                            <p:inputText id="imiegosc_edytuj" value="#{rezerwacjaAdminBeans.imie}"/>
                            <p:outputLabel for="nazwiskogosc_edytuj" value="Nazwisko"/>
                            <p:inputText id="nazwiskogosc_edytuj" value="#{rezerwacjaAdminBeans.nazwisko}"/>
                            <p:outputLabel for="wiekgosc_edytuj" value="Wiek"/>
                            <p:inputText id="wiekgosc_edytuj" value="#{rezerwacjaAdminBeans.wiek}"/>
                            <p:outputLabel for="peselgosc_edytuj" value="PESEL"/>
                            <p:inputText id="peselgosc_edytuj" value="#{rezerwacjaAdminBeans.pesel}"/>
                            <p:outputLabel for="usernamegosc_edytuj" value="Login"/>
                            <p:inputText id="usernamegosc_edytuj" value="#{rezerwacjaAdminBeans.username}"/>
                            <p:outputLabel for="passwordgosc_edytuj" value="Haslo"/>
                            <p:inputText id="passwordgosc_edytuj" value="#{rezerwacjaAdminBeans.password}"/>
                            <p:outputLabel for="rachunekgosc_edytuj" value="Rachunek"/>
                            <p:inputText id="rachunekgosc_edytuj" value="#{rezerwacjaAdminBeans.rachunek}"/>
                            <p:outputLabel for="emailgosc_edytuj" value="Email"/>
                            <p:inputText id="emailgosc_edytuj" value="#{rezerwacjaAdminBeans.email}"/>
                            <p:outputLabel for="rozliczonygosc_edytuj" value="Rozliczony?"/>
                            <p:inputText id="rozliczonygosc_edytuj" value="#{rezerwacjaAdminBeans.rozliczony}"/>
                            <p:outputLabel for="admingosc_edytuj" value="Admin?"/>
                            <p:inputText id="admingosc_edytuj" value="#{rezerwacjaAdminBeans.admin}"/>
                            <p:outputLabel for="kodgosc_edytuj" value="Kod aktywacji"/>
                            <p:inputText id="kodgosc_edytuj" value="#{rezerwacjaAdminBeans.kod}"/>
                            <p:outputLabel for="aktywowanegosc_edytuj" value="Aktywowane?"/>
                            <p:inputText id="aktywowanegosc_edytuj" value="#{rezerwacjaAdminBeans.aktywowane}"/>

                        </p:panelGrid>
                        <p:commandButton action="#{adminBeans.dodajGosc(rezerwacjaAdminBeans)}" value="Utworz Goscia"
                                         ajax="true" class="buttony_admin" update="grow_ADMIN2"/><br/>
                        <p:commandButton action="#{adminBeans.przygotujEdytujGosc(rezerwacjaAdminBeans)}"
                                         value="Przygotuj Modyfikacje Goscia" ajax="true" class="buttony_admin"
                                         update="form_admin2,grow_ADMIN2"/>
                        <p:inputText id="idedytowanegogoscia" value="#{rezerwacjaAdminBeans.idGoscia}" style="background-color: #9ad754; width: 50px;"
                                     placeholder="ID" /><br/>
                        <p:commandButton action="#{adminBeans.zapiszEdytujGosc(rezerwacjaAdminBeans)}"
                                         value="Zapisz Modyfikacje Goscia" ajax="true" class="buttony_admin"
                                         update="grow_ADMIN2"/>

                    </h:form>
                    <h:form>
                        <p:dialog modal="true" resizable="false" header="Wszyscy Goscie" widgetVar="dialog2"
                                  showEffect="fold"
                                  style="overflow:auto; max-height:500px; min-width: 300px; max-width: 500px;"
                                  hideEffect="explode" closeOnEscape="true" position="center"
                                  contentStyle="overflow:auto; max-height:200px;">
                            <ui:repeat value="#{goscJPQLManager.listaGosci}" var="gosc">
                                <p:panelGrid columns="2" id="display4" columnClasses="label,value">

                                    <p:outputLabel for="idgosc_edytuj2" value="ID goscia"/>
                                    <h:outputText id="idgosc_edytuj2" value="#{gosc.id}"/>
                                    <p:outputLabel for="imiegosc_edytuj2" value="Imię"/>
                                    <h:outputText id="imiegosc_edytuj2" value="#{gosc.imie}"/>
                                    <p:outputLabel for="nazwiskogosc_edytuj2" value="Nazwisko"/>
                                    <h:outputText id="nazwiskogosc_edytuj2" value="#{gosc.nazwisko}"/>
                                    <p:outputLabel for="wiekgosc_edytuj2" value="Wiek"/>
                                    <h:outputText id="wiekgosc_edytuj2" value="#{gosc.wiek}"/>
                                    <p:outputLabel for="peselgosc_edytuj2" value="PESEL"/>
                                    <h:outputText id="peselgosc_edytuj2" value="#{gosc.pesel}"/>
                                    <p:outputLabel for="usernamegosc_edytuj2" value="Login"/>
                                    <h:outputText id="usernamegosc_edytuj2" value="#{gosc.username}"/>
                                    <p:outputLabel for="passwordgosc_edytuj2" value="Haslo"/>
                                    <h:outputText id="passwordgosc_edytuj2" value="#{gosc.password}"/>
                                    <p:outputLabel for="rachunekgosc_edytuj2" value="Rachunek"/>
                                    <h:outputText id="rachunekgosc_edytuj2" value="#{gosc.rachunek}"/>
                                    <p:outputLabel for="emailgosc_edytuj2" value="Email"/>
                                    <h:outputText id="emailgosc_edytuj2" value="#{gosc.email}"/>
                                    <p:outputLabel for="rozliczonygosc_edytuj2" value="Rozliczony?"/>
                                    <h:outputText id="rozliczonygosc_edytuj2" value="#{gosc.rozliczony}"/>
                                    <p:outputLabel for="admingosc_edytuj2" value="Admin?"/>
                                    <h:outputText id="admingosc_edytuj2" value="#{gosc.admin}"/>
                                    <p:outputLabel for="kodgosc_edytuj2" value="Kod aktywacji"/>
                                    <h:outputText id="kodgosc_edytuj2" value="#{gosc.kod}"/>
                                    <p:outputLabel for="aktywowanegosc_edytuj2" value="Aktywowane?"/>
                                    <h:outputText id="aktywowanegosc_edytuj2" value="#{gosc.aktywowane}"/>

                                </p:panelGrid>
                                <br/><br/><br/>
                            </ui:repeat>
                        </p:dialog>
                    </h:form>
                    <h:form>
                        <p:commandButton class="buttony_admin" value="Wyświetl wszystkich gosci"
                                         oncomplete="PF('dialog2').show()" ajax="true"/>
                    </h:form>
                </div>
                <div class="grid_5 prefix_1">
                    <h3 style="margin-left:50px;"> EDYCJA REZERWACJI </h3>
                    <h:form id="form_admin4">
                        <p:growl id="grow_ADMIN3" showDetail="true" life="2500"/>
                        <p:panelGrid columns="2" id="display10" columnClasses="label,value">
                            <p:outputLabel for="idrezerwacji_edytuj" value="ID rezerwacji"/>
                            <p:inputText id="idrezerwacji_edytuj" value="#{rezerwacjaAdminBeans.idRezerwacji}"/>
                            <p:outputLabel for="czaspoczrezerwacji_edytuj" value="Czas początkowy"/>
                            <p:inputText id="czaspoczrezerwacji_edytuj" value="#{rezerwacjaAdminBeans.czaspoczatkowy}"><f:convertDateTime pattern="yyyy-MM-dd"/></p:inputText>
                            <p:outputLabel for="czaskoncrezerwacji_edytuj" value="Czas końcowy"/>
                            <p:inputText id="czaskoncrezerwacji_edytuj" value="#{rezerwacjaAdminBeans.czaskoncowy}"><f:convertDateTime pattern="yyyy-MM-dd"/></p:inputText>
                            <p:outputLabel for="osobaidrezerwacji_edytuj" value="ID goscia"/>
                            <p:inputText id="osobaidrezerwacji_edytuj" value="#{rezerwacjaAdminBeans.idPokoju}"/>
                            <p:outputLabel for="pokojidrezerwacji_edytuj" value="ID pokoju"/>
                            <p:inputText id="pokojidrezerwacji_edytuj" value="#{rezerwacjaAdminBeans.idGoscia}"/>

                        </p:panelGrid>
                        <p:commandButton action="#{adminBeans.dodajRezerwacje(rezerwacjaAdminBeans)}"
                                         class="buttony_admin"
                                         value="Dodaj Rezerwacje" ajax="true" update="grow_ADMIN3"/><br/>
                        <p:commandButton action="#{adminBeans.przygotujEdytujRezerwacje(rezerwacjaAdminBeans)}"
                                         class="buttony_admin"
                                         value="Przygotuj Modyfikacje Rezerwacji" ajax="true"
                                         update="grow_ADMIN3,form_admin4"/>
                        <p:inputText id="idszukanejrezerwacji_edytuj" value="#{rezerwacjaAdminBeans.idRezerwacji}" style="background-color: #9ad754; width: 50px;" placeholder=""/>
                        <br/>
                        <p:commandButton action="#{adminBeans.zapiszEdytujRezerwacje(rezerwacjaAdminBeans)}"
                                         class="buttony_admin"
                                         value="Zapisz Modyfikacje Rezerwacji" ajax="true" update="grow_ADMIN3"/>
                    </h:form>

                    <h:form>
                        <p:dialog modal="true" resizable="false" header="Wszystkie Rezerwacje" widgetVar="dialog3"
                                  showEffect="fold"
                                  style="overflow:auto; max-height:500px; min-width: 300px; max-width: 500px;"
                                  hideEffect="explode" closeOnEscape="true" position="center"
                                  contentStyle="overflow:auto; max-height:200px;">
                            <ui:repeat value="#{rezerwacjaJPQLManager.listaRezerwacji}" var="rezerwajca">
                                <p:panelGrid columns="2" id="display5" columnClasses="label,value">
                                    <p:outputLabel for="idrezerwacji_edytuj2" value="ID rezerwacji"/>
                                    <h:outputText id="idrezerwacji_edytuj2" value="#{rezerwajca.id}"/>
                                    <p:outputLabel for="czaspoczrezerwacji_edytuj2" value="Czas początkowy"/>
                                    <h:outputText id="czaspoczrezerwacji_edytuj2" value="#{rezerwajca.czaspoczatkowy}"><f:convertDateTime pattern="yyyy-MM-dd"/></h:outputText>
                                    <p:outputLabel for="czaskoncrezerwacji_edytuj2" value="Czas końcowy"/>
                                    <h:outputText id="czaskoncrezerwacji_edytuj2" value="#{rezerwajca.czaskoncowy}"><f:convertDateTime pattern="yyyy-MM-dd"/></h:outputText>
                                    <p:outputLabel for="osobaidrezerwacji_edytuj2" value="ID goscia"/>
                                    <h:outputText id="osobaidrezerwacji_edytuj2" value="#{rezerwajca.pokoj.id}"/>
                                    <p:outputLabel for="pokojidrezerwacji_edytuj2" value="ID pokoju"/>
                                    <h:outputText id="pokojidrezerwacji_edytuj2" value="#{rezerwajca.osoba.id}"/>
                                </p:panelGrid>
                                <br/><br/><br/>
                            </ui:repeat>
                        </p:dialog>
                    </h:form>
                    <h:form>
                        <p:commandButton class="buttony_admin" value="Wyświetl wszystkie rezerwacje"
                                         oncomplete="PF('dialog3').show()" ajax="true"/>
                    </h:form>
                </div>
            </h:panelGroup>
        </div>
    </ui:define>
</ui:composition>
</html>