<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xml:lang="en" lang="en">


<ui:composition template="szablon.xhtml">
    <ui:define name="tresc">
        <div class="container_24">
            <div class="tekst_pow_autorzy"><strong>HOTEL STUDENCIAK</strong></div>
            <p class="opis_autorzy">Projekt powstał w celu obsłużenia podstawowych funkcjonalności hotelowych jak dodawanie rejestraci i rezerwacja pokoi, płatności oraz funkcji dla administratora hotelu takie jak edycja gosci, rezerwacji. Projekt powstał dzięki współpracy poniżej wymienionych osób.</p>
            <div class="grid_30 prefix_30">
                <div class="autor"><p>Bartosz Sobierajski</p></div>
                <div class="img-border_autor"><h:graphicImage value="img/avatar_default.png"/></div>
                <p class="clr-1 it bold top-1"><h:outputText
                        value="Student Politechniki Swiętokrzyskiej w Kielcach. Młody i utalentowany ! :D "/></p>
            </div>
            <div class="grid_30 prefix_30">
                <div class="autor"><p>Przemysław Skrzyniarz</p></div>
                <div class="img-border_autor"><h:graphicImage value="img/avatar_default.png"/></div>
                <p class="clr-1 it bold top-1"><h:outputText value="Strudent in Kielce University of Technology"/></p>
            </div>
            <div class="grid_30 prefix_30">
                <div class="autor"><p>Piotr Skowron</p></div>
                <div class="img-border_autor"><h:graphicImage value="img/avatar_default.png"/></div>
                <p class="clr-1 it bold top-1"><h:outputText value="Strudent in Kielce University of Technology"/></p>
            </div>
            <div class="grid_30 prefix_30">
                <div class="autor"><p>Krzysztof Sawicki</p></div>
                <div class="img-border_autor"><h:graphicImage value="img/avatar_default.png"/></div>
                <p class="clr-1 it bold top-1"><h:outputText value="Strudent in Kielce University of Technology"/></p>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>