<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xml:lang="en" lang="en">
<head>

</head>
<body>
<ui:composition template="szablon.xhtml">
    <ui:define name="tresc">
        <div id="content">
            <div class="container_24">
                #{logowanieBeans.kodAktywancyjny}
                <div class="tekst_pow_index"><strong>Promocje!!</strong></div>
                <h:form>
                    <ui:repeat value="#{pokojJPQLManager.listaPokoi}" var="pok">
                        <h:outputLink value="rezerwacja.xhtml">
                            <div class="grid_5 prefix_1">
                                <div class="slogan2"><strong><h:outputText value="#{pok.nazwa}"/></strong></div>
                                <div class="img-border"><h:graphicImage value="#{pok.adresobrazka}"/></div>
                                <div class="cena_pok"><b><h:outputText value="#{pok.cena}"/>zł!!</b></div>
                                <p class="clr-1 it bold top-1"><h:outputText value="#{pok.opis}"/></p>
                                <f:param name="x" value="#{pok.id}"/>
                            </div>
                        </h:outputLink>
                    </ui:repeat>

                </h:form>
            </div>


        </div>
    </ui:define>
</ui:composition>
</body>
</html>
