<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xml:lang="en" lang="en">


<ui:composition template="szablon.xhtml">
    <ui:define name="tresc">
        <div class="container_31">
            <div class="tekst_pow_oferta_pokoi"><strong>Nasza pokojowa oferta</strong></div>
            <h:form>
                <ui:repeat value="#{pokojJPQLManager.listaPokoi}" var="pok">
                    <h:outputLink value="rezerwacja.xhtml">
                        <div class="grid_31 prefix_31">
                            <div class="kontener_lista_pok">
                                <div class="nazwa_lista_pok"><strong><h:outputText value="#{pok.nazwa}"/></strong></div>
                                <div class="img-border_lista"><h:graphicImage value="#{pok.adresobrazka}"/></div>
                                <div class="cena_pok_lista"><h:outputText value="#{pok.cena}zł"> </h:outputText>
                                    <br/>za jedną noc !
                                </div>
                                <div class="liczba_osob_lista"><h:outputText value="#{pok.iloscosob} łózka ! "/></div>
                                <p class="opis_lista"><h:outputText value="#{pok.opis_dlugi}"/></p>
                                <f:param name="x" value="#{pok.id}"/>
                            </div>
                        </div>
                    </h:outputLink>
                </ui:repeat>
            </h:form>
        </div>
    </ui:define>
</ui:composition>
</html>