<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
      xml:lang="en" lang="en">


<ui:composition template="szablon.xhtml">
    <ui:define name="tresc">
        <div class="container_31">
            <h:form><p:commandLink oncomplete="PF('dlg3').show()"
                                   value="Panel użytkownika"/></h:form>
            <p:dialog modal="true" resizable="false" header="REZERWUJ" widgetVar="dlg3" showEffect="fold"
                      style="z-index: 995; !important;"
                      hideEffect="explode" closeOnEscape="true" position="center">
                <p:dataTable var="pokoj" value="#{pokojJPQLManager.listaPokoi}">
                    <p:column headerText="Id">
                        <h:outputText value="#{pokoj.id}"/>
                    </p:column>

                    <p:column headerText="Year">
                        <h:outputText value="#{pokoj.adresobrazka}"/>
                    </p:column>

                    <p:column headerText="Brand">
                        <h:outputText value="#{pokoj.cena}"/>
                    </p:column>

                    <p:column headerText="Color">
                        <h:outputText value="#{pokoj.nazwa}"/>
                    </p:column>
                </p:dataTable>
            </p:dialog>
        </div>
    </ui:define>
</ui:composition>
</html>