<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xml:lang="en" lang="en">

<ui:composition template="szablon.xhtml">
    <ui:define name="tresc">
        <div class="container_25">
            <div class="grid_szcz prefix_szcz">
                <h:form>
                    <div class="nazwa_1"><strong><h:outputText
                            value="#{pokojJPQLManager.getPokoj(param.x).nazwa}"/></strong></div>
                    <div class="cena_1"><strong><h:outputText
                            value="#{pokojJPQLManager.getPokoj(param.x).cena} zł/ 1 noc / 1 osoba"/></strong></div>
                    <div class="img_border_szcz"><h:graphicImage
                            value="#{pokojJPQLManager.getPokoj(param.x).adresobrazka}"/></div>
                    <div class="opis_szcz"><h:outputText
                            value="Szczegóły oferty"/></div>
                    <p class="clr-szcz"><h:outputText
                            value="#{pokojJPQLManager.getPokoj(param.x).opis_dlugi}"/></p>
                    <h:commandButton class="zarezerwuj_1" actionListener="#{calendarView.click}"
                                     value="Sprawdz dostępność!" rendered="#{!sesjaBeans.status}">
                        <f:param name="x" value="#{rezerwacjaBeans.idPokoju}"/>
                    </h:commandButton>
                    <h:commandButton class="zarezerwuj_1" actionListener="#{calendarView.click2}"
                                     value="Sprawdz dostępność!" rendered="#{sesjaBeans.status}">
                        <f:param name="x" value="#{rezerwacjaBeans.idPokoju}"/>
                    </h:commandButton>
                </h:form>
                <div class="formularz_rezerwacji">
                    <h:form id="form1_rezerwacja">
                        <p:dialog modal="true" resizable="true" header="REZERWUJ" widgetVar="dlg" showEffect="fold"
                                  hideEffect="explode" closeOnEscape="true" id="dialog_rezerwacja"
                                  style="z-index: 1005; !important; width:300px; !important;" position="center">
                            <p:growl id="growii1" showDetail="true" life="2500"/>
                            <p:panelGrid columns="2" cellpadding="5"
                                         style="background: #6aff00; width:300px; !important;" id="display"
                                         columnClasses="label,value">
                                <p:outputLabel for="restricted2" value="Data rozpoczęcia"/>
                                <p:calendar id="restricted2" value="#{rezerwacjaBeans.czaspoczatkowy}"
                                            mindate="today" maxdate="2025-05-12" required="true"
                                            requiredMessage="Wypełnij Pole Data rozpoczęcia " pattern="yyyy-MM-dd">
                                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                                </p:calendar>
                                <p:outputLabel for="restricted3" value="Data zakończenia"/>
                                <p:calendar id="restricted3" value="#{rezerwacjaBeans.czaskoncowy}"
                                            mindate="today" maxdate="2025-05-12" required="true"
                                            requiredMessage="Wypełnij Pole Data zakończenia"
                                            pattern="yyyy-MM-dd">
                                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                                </p:calendar>
                                <p:outputLabel for="idpok" value="ID pok"/>
                                <p:inputText id="idpok" value="#{rezerwacjaBeans.idPokoju}" required="true"
                                             style="pointer-events: none"/>
                                <p:outputLabel for="imie" value="Imie"/>
                                <p:inputText id="imie" value="#{rezerwacjaBeans.imie}" required="true"
                                             requiredMessage="Wypełnij Pole Imie"/>
                                <p:outputLabel for="nazwisko" value="Nazwisko"/>
                                <p:inputText id="nazwisko" value="#{rezerwacjaBeans.nazwisko}" required="true"
                                             requiredMessage="Wypełnij Pole Nazwisko"/>
                                <p:outputLabel for="email" value="Email"/>
                                <p:inputText id="email" value="#{rezerwacjaBeans.email}" required="true"
                                             requiredMessage="Wypełnij Pole Email"/>
                                <p:outputLabel for="pesel" value="Pesel"/>
                                <p:inputText id="pesel" value="#{rezerwacjaBeans.pesel}" required="true"
                                             requiredMessage="Wypełnij Pole Pesel"/>
                                <p:outputLabel for="wiek" value="Wiek"/>
                                <p:inputText id="wiek" value="#{rezerwacjaBeans.wiek}" required="true"
                                             requiredMessage="Wypełnij Pole Wiek"/>
                                <p:outputLabel for="login" value="Login"/>
                                <p:inputText id="login" value="#{rezerwacjaBeans.username}" required="true"
                                             requiredMessage="Wypełnij Pole Login"/>
                                <p:outputLabel for="password" value="Hasło "/>
                                <p:password id="password" value="#{rezerwacjaBeans.password}" match="password2"
                                            required="true" validatorMessage="Hasła nie są identyczne." requiredMessage="Wypełnij Pole Hasło" feedback="true"/>
                                <h:outputLabel for="password2" value="Powtórz hasło: *"/>
                                <p:password id="password2" value="#{rezerwacjaBeans.password}" required="true"
                                            validatorMessage="Hasła nie są identyczne." requiredMessage="Wypełnij Pole Powtórz Hasło" feedback="true"/>
                            </p:panelGrid>
                            <p:commandButton value="Sprawdz Dane" id="ajax"
                                             update="growii1,imie,nazwisko,wiek,email,pesel,login,password,password2,restricted2,restricted3"
                                             actionListener="#{sesjaBeans.sprawdzDane(rezerwacjaBeans)}"
                                             styleClass="ui-priority-primary">
                                <f:param name="x" value="#{rezerwacjaBeans.idPokoju}"/>
                            </p:commandButton>
                            <h:commandLink class="zarezerwuj_21" action="#{sesjaBeans.zarezerwuj(rezerwacjaBeans)}"
                                           value="Zarezerwuj!">
                                <f:param name="x" value="#{rezerwacjaBeans.idPokoju}"/>
                            </h:commandLink>
                        </p:dialog>
                    </h:form>
                    <h:form id="form2_rezerwacja">
                        <p:dialog modal="true" resizable="false" header="REZERWUJ" widgetVar="dlg2" showEffect="fold"
                                  style="z-index: 995; !important;"
                                  hideEffect="explode" closeOnEscape="true" position="center">
                            <p:growl id="growii2" showDetail="true" life="2500"/>
                            <p:panelGrid columns="2" cellpadding="5" style="background: #6aff00" id="display2"
                                         columnClasses="label,value">
                                <p:outputLabel for="restricted4" value="Data rozpoczęcia" id="forrest4"/>
                                <p:calendar id="restricted4" value="#{rezerwacjaBeans.czaspoczatkowy}"
                                            mindate="today" maxdate="2020-05-16" required="true"
                                            requiredMessage="Wypełnij Pole Data rozpoczęcia" pattern="yyyy-MM-dd">
                                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                                </p:calendar>
                                <p:outputLabel for="restricted5" value="Data zakończenia" id="forrest5"/>
                                <p:calendar id="restricted5" value="#{rezerwacjaBeans.czaskoncowy}"
                                            mindate="today" maxdate="2020-05-16" required="true"
                                            requiredMessage="Wypełnij Pole Data zakończenia"
                                            pattern="yyyy-MM-dd">
                                    <f:convertDateTime pattern="yyyy-MM-dd"/>
                                </p:calendar>
                                <p:outputLabel for="idpok2" value="ID pok"/>
                                <p:inputText id="idpok2" value="#{rezerwacjaBeans.idPokoju}" required="true"
                                             style="pointer-events: none"/>
                            </p:panelGrid>
                            <p:commandButton value="Sprawdz Date" id="ajax2" update="growii2,restricted4,restricted5"
                                             actionListener="#{sesjaBeans.sprwadzDate(rezerwacjaBeans)}"
                                             styleClass="ui-priority-primary">
                                <f:param name="x" value="#{rezerwacjaBeans.idPokoju}"/>
                            </p:commandButton>
                            <h:commandLink class="zarezerwuj_21"
                                           action="#{sesjaBeans.zarezerwujZKontaZalogowanego(rezerwacjaBeans)}"
                                           value="Zarezerwuj!">
                                <f:param name="x" value="#{rezerwacjaBeans.idPokoju}"/>
                            </h:commandLink>
                        </p:dialog>
                    </h:form>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>
</html>