<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xml:lang="en"
      lang="en">
<h:head>
    <title>Studenciak - hotel dla Ciebie</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://apis.google.com/js/platform.js" async-defer="text/javascript"></script>
    <meta name="google-signin-client_id"
          content="397189772243-er5b6rrk7f7p8ojilbqhojd72trhuf2f.apps.googleusercontent.com"/>
    <script type="text/javascript" src="https://www.paypalobjects.com/api/checkout.js"/>
    <link rel="stylesheet" type="text/css" media="screen" href="css/style_slider.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="css/grid.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="css/slider.css"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'/>
</h:head>
<h:body onload="#{sesjaBeans.aktywujKonto(logowanieBeans)}">
    <div id="facebook_slider_widget" style="display: none">
        <script type="text/javascript"
                src="http://webfrik.pl/widget/facebook_slider.html?fb_url=https://www.facebook.com/DavidGuetta&amp;fb_width=250&amp;fb_height=400&amp;fb_faces=true&amp;fb_stream=true&amp;fb_header=true&amp;fb_border=true&amp;fb_theme=dark&amp;chx=787&amp;speed=SLOW&amp;fb_pic=logo&amp;position=LEFT"></script>
    </div>

    <script type="text/javascript">
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });

        }

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            var id_token = googleUser.getAuthResponse().id_token;
            document.getElementById("form_google:email").value = profile.getEmail();
            if(!loguj()){
                signOut();
            }

        }

    </script>

    <script type="text/javascript">
        paypal.Button.render({
            env: 'sandbox', // sandbox | production
            // PayPal Client IDs - replace with your own
            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
            client: {
                sandbox: 'Aa-lb_nlQ9Aq-GhLGKC8z-K3A_CKT0pmVg4-2AR9c8YzAwR_2T5lkGsdsnW7-tO83Nrr8qiuo82G3b9o',
                production: 'Aa-lb_nlQ9Aq-GhLGKC8z-K3A_CKT0pmVg4-2AR9c8YzAwR_2T5lkGsdsnW7-tO83Nrr8qiuo82G3b9o'
            },
            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,
            // payment() is called when the button is clicked
            payment: function (data, actions) {
                // Make a call to the REST api to create the payment
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: {total: '#{sesjaBeans.zalogowanyGosc.rachunek}', currency: ' PLN'}
                            }
                        ]
                    }
                });
            },
            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function (data, actions) {
                // Make a call to the REST api to execute the payment
                return actions.payment.execute().then(function () {
                    zaplac();
                    window.alert('Transakcja zakończona!');
                    window.location = "index.xhtml";
                });
            }
        }, '#paypal-button-container');
    </script>

    <div class="main">
        <p:sidebar widgetVar="sidebar2" id="sidebar_update" position="right" onShow="true">
            <h:form id="user-form2" rendered="#{sesjaBeans.status}">
                <p:growl id="growl" showDetail="true" life="1500"/>
                <div class="tekst_sidebar_zalogowany">


                    <h:panelGroup layout="block" rendered="#{sesjaBeans.admin}">
                        Panel administratora pozwala na łatwe i szybkie zarządzanie goścmi, hotelem i personelem.
                        <p class="dane2">ADMIN</p>
                        <h:graphicImage class="foto2" value="img/avatar_default.jpg"/>

                        <p:commandButton class="wyloguj_button" value="EDYTUJ WSZYSTKO" update="growl"
                                         action="admin_panel.xhtml?faces-redirect=true" ajax="true">
                            <f:param name="x" value="#{rezerwacjaBeans.idPokoju}"/>
                        </p:commandButton>
                        <p:commandButton class="wyloguj_button" onclick="signOut();" actionListener="#{sesjaBeans.wyloguj}" value="Wyloguj" update="growl"
                                         ajax="false">
                            <f:param name="x" value="#{rezerwacjaBeans.idPokoju}"/>
                        </p:commandButton>
                        <div class="g-signin2" data-onsuccess="onSignIn" style="visibility: hidden"></div>

                    </h:panelGroup>


                    <h:panelGroup layout="block" rendered="#{!sesjaBeans.admin}">
                        Zalogowano!<br/><br/>
                        <div class="dane">
                            <h:outputText value="#{sesjaBeans.zalogowanyGosc.imie} "/><h:outputText
                                value="#{sesjaBeans.zalogowanyGosc.nazwisko}"/><br/>
                            <h:outputText value="#{sesjaBeans.zalogowanyGosc.email}"/>
                        </div>
                        <br/>
                        <p:commandButton class="wyloguj_button" value="Moje Rezerwacje" update="growl"
                                         oncomplete="PF('dlg3').show()" ajax="true">
                            <f:param name="x" value="#{rezerwacjaBeans.idPokoju}"/>
                        </p:commandButton>
                        #{sesjaBeans.otworzModfikacjeGoscia(rezerwacjaBeans)}
                        <p:commandButton class="wyloguj_button" value="Wyloguj" update="growl"
                                         actionListener="#{sesjaBeans.wyloguj}" ajax="false">
                            <f:param name="x" value="#{rezerwacjaBeans.idPokoju}"/>
                        </p:commandButton>
                        <h:graphicImage value="img/avatar_default.jpg"/>

                        <div class="paypal">
                            <h:outputText value="Rachunek: #{sesjaBeans.zalogowanyGosc.rachunek}"/><br/>
                            <p:remoteCommand name="zaplac" actionListener="#{sesjaBeans.zaplac()}"/>
                            <div id="paypal-button-container"/>
                        </div>
                    </h:panelGroup>


                </div>
            </h:form>
            <h:panelGroup id="form1" rendered="#{!sesjaBeans.status}">
                <div class="tekst_powitalny_sidebar">
                    <br/>Dzień dobry.<br/>
                    Aby uzyskać dostęp do panelu użytkownika musisz posiadać konto, tworzone równocześnie z rezerwacją pokoju.<br/>
                    Jeśli jeszcze go nie posiadasz, zarezerwuj pokój, a następnie się zaloguj.<br/>

                    <p:growl id="grow2" showDetail="true" life="1500"/>
                    <br/>
                    <h:form>
                        <p:inputText id="username_panel" value="#{logowanieBeans.login}" required="true"
                                     requiredMessage="Login jest wymagany." a:placeholder="login"/><br/>
                        <p:password id="password_panel" value="#{logowanieBeans.haslo}" required="true"
                                    requiredMessage="Hasło wymagane." a:placeholder="hasło"/><br/>

                        <p:commandButton value="ZALOGUJ SIĘ" class="zaloguj_button" update="grow2"
                                         actionListener="#{sesjaBeans.zaloguj(logowanieBeans)}"
                                         ajax="false">
                            <f:param name="x" value="#{rezerwacjaBeans.idPokoju}"/>
                        </p:commandButton>
                    </h:form><br/>
                    lub zaloguj się z

                    <h:form id="form_google">
                        <h:inputHidden id="email" value="#{logowanieBeans.email}"/>
                        <p:remoteCommand name="loguj" ajax="true" action="#{sesjaBeans.zalogujGoogle(logowanieBeans)}"/>
                        <div class="g-signin2" data-onsuccess="onSignIn"></div>
                    </h:form>
                </div>
            </h:panelGroup>


        </p:sidebar>

        <h:form id="form8">
            <p:dialog modal="true" resizable="false" header="Edytuj Dane" widgetVar="dlg6" showEffect="fold"
                      style="overflow:auto; max-height:500px;"
                      hideEffect="explode" closeOnEscape="true" position="center">

                <p:panelGrid columns="2" id="display8" columnClasses="label,value">


                    <p:outputLabel for="Imie" value="Imie:"/>
                    <p:inputText id="Imie" value="#{rezerwacjaBeans.imie}" required="true"
                                 requiredMessage="Wypełnij Pole Imie" validatorMessage="Popraw Wpisane Imie"/>

                    <p:outputLabel for="nazwisko" value="Nazwisko:"/>
                    <p:inputText id="nazwisko" value="#{rezerwacjaBeans.nazwisko}" required="true"
                                 requiredMessage="Wypełnij Pole Nazwisko" validatorMessage="Popraw Wpisane Nazwisko"/>

                    <p:outputLabel for="Pesel" value="Pesel"/>
                    <p:inputText id="Pesel" value="#{rezerwacjaBeans.pesel}" required="true"
                                 requiredMessage="Wypełnij Pole Pesel" validatorMessage="Popraw Wpisany Pesel"/>

                    <p:outputLabel for="wiek" value="Wiek"/>
                    <p:inputText id="wiek" value="#{rezerwacjaBeans.wiek}" required="true"
                                 requiredMessage="Wypełnij Pole Wiek" validatorMessage="Popraw Wpisany Wiek"/>

                    <p:outputLabel for="password" value="Hasło "/>
                    <p:inputText id="password" value="#{rezerwacjaBeans.password}" match="password2"
                                 required="true" requiredMessage="Wypełnij Pole Hasło"
                                 validatorMessage="Popraw Wpisane Haslo"/>

                    <h:outputLabel for="password2" value="Powtórz hasło: *"/>
                    <p:inputText id="password2" value="#{rezerwacjaBeans.password}" required="true"
                                 requiredMessage="Wypełnij Pole Powtórz hasło" validatorMessage="Popraw Wpisane Haslo"/>
                </p:panelGrid>
                <h:commandLink class="zarezerwuj_2" action="#{sesjaBeans.modyfikujGosc(rezerwacjaBeans)}"
                               value="Zmień Dane">
                    <f:param name="x" value="#{rezerwacjaBeans.idPokoju}"/>
                </h:commandLink>
            </p:dialog>
        </h:form>
        <h:form id="form5">

            <p:dialog modal="true" resizable="false" header="Twoje Rezerwacja" widgetVar="dlg3" showEffect="fold"
                      style="overflow:auto; max-height:500px;"
                      hideEffect="explode" closeOnEscape="true" position="center"
                      contentStyle="overflow:auto; max-height:200px;">
                <p:growl id="grow1" showDetail="true" life="2500"/>
                <ui:repeat value="#{rezerwacjaJPQLManager.getListaRezerwacjiGoscia(sesjaBeans.zalogowanyGosc.id)}"
                           var="rez">
                    <p:panelGrid columns="2" id="display3" columnClasses="label,value">

                        <p:outputLabel for="ID_Rezerwacji" value="Numer rezerwacji:"/>
                        <p:outputLabel id="ID_Rezerwacji" value="#{rez.id}"/>

                        <p:outputLabel for="nazwa" value="Nazwa:"/>
                        <p:outputLabel id="nazwa" value="#{rez.pokoj.nazwa}"/>

                        <p:outputLabel for="Cena" value="Cena za jedną noc"/>
                        <p:outputLabel id="Cena" value="#{rez.pokoj.cena}"/>

                        <p:outputLabel for="CZAS_POCZ" value="Początek rezerwacji:"/>
                        <p:outputLabel id="CZAS_POCZ" value="#{rez.czaspoczatkowy}" pattern="yyyy-MM-dd">
                            <f:convertDateTime pattern="yyyy-MM-dd"/>
                        </p:outputLabel>

                        <p:outputLabel for="CZAS_KONC" value="Koniec rezerwacji:"/>
                        <p:outputLabel id="CZAS_KONC" value="#{rez.czaskoncowy}" pattern="yyyy-MM-dd">
                            <f:convertDateTime pattern="yyyy-MM-dd"/>
                        </p:outputLabel>

                        <p:outputLabel for="rozliczona" value="Czy płatność rozliczona:" rendered="#{!rez.rozliczona}"/>
                        <p:outputLabel id="rozliczona" value="Oczekiwanie na płatność" rendered="#{!rez.rozliczona}"/>
                        <p:outputLabel for="rozliczona2" value="Czy płatność rozliczona:" rendered="#{rez.rozliczona}"/>
                        <p:outputLabel id="rozliczona2" value="Rozliczona" rendered="#{rez.rozliczona}"/>
                    </p:panelGrid>
                </ui:repeat>
                <p:panelGrid columns="2" cellpadding="5" style="background: #6aff00" id="display4"
                             columnClasses="label,value">
                    <p:outputLabel for="rachunek" value="Całkowity Rachunek:"/>
                    <p:outputLabel id="rachunek" value="#{sesjaBeans.zalogowanyGosc.rachunek}"/>
                </p:panelGrid>
            </p:dialog>
        </h:form>
        <h:form id="form6">
            <p:dialog modal="true" resizable="false" header="Nowy pokój" widgetVar="dlg10" showEffect="fold"
                      style="overflow:auto; max-height:500px;"
                      hideEffect="explode" closeOnEscape="true" position="center"
                      contentStyle="overflow:auto; max-height:200px;">
                <p:panelGrid columns="2" id="display5" columnClasses="label,value">

                    <p:outputLabel for="dodaj_nazwe" value="Nazwa:"/>
                    <p:inputText id="dodaj_nazwe" value="#{pokojBeans.nazwa}"/>

                    <p:outputLabel for="iloscosob" value="Ilość osób:"/>
                    <p:inputText id="iloscosob" value="#{pokojBeans.iloscosob}"/>

                    <p:outputLabel for="adresobrazka" value="Adres img:"/>
                    <p:inputText id="adresobrazka" value="#{pokojBeans.adresobrazka}"/>

                    <p:outputLabel for="cena_dodaj" value="Cena za noc:"/>
                    <p:inputText id="cena_dodaj" value="#{pokojBeans.cena}"/>

                    <p:outputLabel for="opis_dodaj" value="Krótszy opis:"/>
                    <p:inputText id="opis_dodaj" value="#{pokojBeans.opis}"/>

                    <p:outputLabel for="opis_dlugi_dodaj" value="Dłuższy opis:"/>
                    <p:inputText id="opis_dlugi_dodaj" value="#{pokojBeans.opis_dlugi}"/>

                </p:panelGrid>
                <p:commandButton action="#{pokojBeans.dodajPokoj()}" value="Dodaj pokój" ajax="false"/>
            </p:dialog>
        </h:form>
        <h:form id="form7">
            <p:dialog modal="true" resizable="false" header="Nowy pracownik" widgetVar="dlg11" showEffect="fold"
                      style="overflow:auto; max-height:500px;"
                      hideEffect="explode" closeOnEscape="true" position="center"
                      contentStyle="overflow:auto; max-height:200px;">
                <p:panelGrid columns="2" id="display6" columnClasses="label,value">

                    <p:outputLabel for="dodaj_imie_prac" value="Imię:"/>
                    <p:inputText id="dodaj_imie_prac" value="#{pracownikBeans.imie}"/>

                    <p:outputLabel for="dodaj_nazw_prac" value="Nazwisko:"/>
                    <p:inputText id="dodaj_nazw_prac" value="#{pracownikBeans.nazwisko}"/>

                    <p:outputLabel for="dodaj_pesel_prac" value="Pesel:"/>
                    <p:inputText id="dodaj_pesel_prac" value="#{pracownikBeans.pesel}"/>

                    <p:outputLabel for="dodaj_wiek_prac" value="Wiek:"/>
                    <p:inputText id="dodaj_wiek_prac" value="#{pracownikBeans.wiek}"/>

                    <p:outputLabel for="dodaj_stan_prac" value="Stanowisko:"/>
                    <p:inputText id="dodaj_stan_prac" value="#{pracownikBeans.wiek}"/>

                    <p:outputLabel for="dodaj_pensje_prac" value="Pensja:"/>
                    <p:inputText id="dodaj_pensje_prac" value="#{pracownikBeans.premia}"/>

                    <p:outputLabel for="dodaj_premie_prac" value="Dodatki:"/>
                    <p:inputText id="dodaj_premie_prac" value="#{pracownikBeans.premia}"/>

                    <p:outputLabel for="dodaj_user_prac" value="Login:"/>
                    <p:inputText id="dodaj_user_prac" value="#{pracownikBeans.username}"/>

                    <p:outputLabel for="dodaj_pass_prac" value="Hasło:"/>
                    <p:inputText id="dodaj_pass_prac" value="#{pracownikBeans.password}"/>

                </p:panelGrid>
                <p:commandButton action="#{pracownikBeans.dodajPracownika()}" value="Dodaj pracownika" ajax="false"/>
            </p:dialog>
        </h:form>
        <div class="header">
            <div class="nav">
                <a href="index.xhtml"><img class="logo" src="img/logo.png" alt=""/></a>
                <ul class="menu">
                    <li class="current"><a href="index.xhtml">Strona główna</a></li>
                    <li><a href="oferta_pokoi.xhtml">Nasze pokoje</a></li>
                    <li><a href="autorzy.xhtml">O autorach</a></li>
                    <li class="last"><h:form><p:commandLink oncomplete="PF('sidebar2').show()"
                                                            value="Panel użytkownika" rendered="#{!sesjaBeans.admin}"/></h:form>
                        <h:form><p:commandLink oncomplete="PF('sidebar2').show()"
                                               value="ADMIN PANEL" rendered="#{sesjaBeans.admin}"/></h:form>
                    </li>
                </ul>
            </div>

        </div>
        <div id="slide">
            <div class='csslider1 autoplay '>
                <input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide'/>
                <input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide'/>
                <input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide'/>
                <input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked="checked"/>
                <input name="cs_anchor1" id='cs_pause1' type="radio" class='cs_anchor'/>
                <ul>
                    <div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
                        <img src="http://cssslider.com/sliders/pen/images/buns.jpg" style="width: 100%;"/>
                    </div>
                    <li class='num0 img'>
                        <img src='img/slide1.jpg' alt='' title=''/>
                    </li>
                    <li class='num1 img'>
                        <img src='img/slide2.jpg' alt='' title=''/>
                    </li>
                    <li class='num2 img'>
                        <img src='img/slide3.jpg' alt='' title=''/>
                    </li>

                </ul>

            </div>
        </div>

        <div id="tresc">
            <ui:insert name="tresc">
            </ui:insert>
        </div>
        <div class="clear"></div>
    </div>

    <div class="footer">
        <div class="container_24">
            <div class="grid_11 prefix_24">

                <p><strong>© 2018 Projekt studencki</strong><br></br>
                    <a href="http://www.biedronka.pl/pl?gclid=Cj0KCQjwgMnYBRDRARIsANC2dfkyWZGdSV5KjwTAZbgDcuiNtB-euOqYuLAthf5469oNvRcaaJR1hbgaAu96EALw_wcB"
                       target="_blank"
                       rel="nofollow">Sobierajski, Skrzyniarz, Skowron, Sawicki </a></p>
            </div>
            <div class="grid_12">
                <div class="soc-icons"><a href="https://www.youtube.com/watch?v=NTCZXQMk0KY"><img
                        src="images/icon-1.png" alt=""/></a><a href="https://www.facebook.com/sobieraj95"><img
                        src="images/icon-2.png" alt=""/></a><a href="https://twitter.com/gianluigibuffon"><img
                        src="images/icon-3.png" alt=""/></a></div>
            </div>
        </div>
    </div>
</h:body>
</html>